---
---

<div class="btn-container">
                <a href="#" class="telegram-bot-link">
                    <div class="btn-content">
                        <p class="btn-content-header">Получить<br> тест-драйв</p>
                    </div>
                    <img src="/circle_arrow.svg" alt="">
                </a>
</div> 


<style>
    .old-price {
        font-weight: 200;
        font-size: 14px;
        text-decoration: line-through;
    }
    .btn-content p {
        color: white;
        text-align: left;
        width: 200px;
        margin: 0;
    }

    .btn-content {
        text-transform: none;
    }

    .btn-price {
        font-size: 2rem;
        text-transform: none;
        font-weight: 900;
    }

    .btn-content-header {
        font-size: 1.4rem;
        font-weight: 900;
        line-height: 1.4rem;
    }

   a {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem; 

      background-color: #c31919;

    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;

    text-transform: uppercase;
    border-radius: 0.5em;
    border-bottom: 0.25em solid #770f0f;
    -moz-transition: 0.1s;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    position: relative;

    padding: .5rem 2rem;
   } 

   a:hover {
  background-color: #eb1e1e;
  border-bottom-width: 0;
  margin-top: 0.2em;
}

   img {
    width: 64px;
   }

   .btn-container {
    border-radius: 20px;
    background-color: #3063D3;
    padding: .5rem 1rem;
   }

   @media (max-width: 1279px) { 

    a {
      font-size: 16px;
      padding: 1rem 1rem;
    }
    .btn-content p {
        width: auto;
    }


    .btn-container{
      width: 100%;
      margin: 2rem 1.5rem;
      padding: .5rem 1.5rem;

    }

    img {
      width: 20%;
    }

   }
</style>