---
---

<div class="btn-container">
    <a href="#" class="telegram-bot-link">Записаться <br>на тест-драйв <img src="/circle_arrow.svg" alt=""></a>
</div> 


<style>

   a {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem; 

      background-color: #c31919;

    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;

    text-transform: uppercase;
    border-radius: 0.5em;
    border-bottom: 0.25em solid #770f0f;
    -moz-transition: 0.1s;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    position: relative;

    padding: 1rem 2rem;
   } 

   a:hover {
  background-color: #eb1e1e;
  border-bottom-width: 0;
  margin-top: 0.2em;
}

   img {
    width: 64px;
   }

   .btn-container {
    margin-top: 4rem;
    padding: 1rem 2rem;
    border-radius: 20px;
    background-color: #3063D3;
   }

   @media (max-width: 1279px) { 

    a {
      font-size: 16px;
      padding: 1rem 1rem;
    }

    .btn-container{
      padding: 14px 24px;
      margin: 1.5rem 1.5rem;
      width: 100%;
    }

    img {
      width: 20%;
    }

   }
</style>