---
import Btn3 from "./Btn3.astro"
---


<section>
    <h2>Зачем тебе Тест-драйв</h2>
    <div class="why-content">
        <div class="why-content-left">
            <ul>
                <li><span style="color: #3063D3">Заработаешь первые деньги </span> на трейдинге уже сегодня</li>
                <li><span style="color: #3063D3">Увеличишь количество успешных сделок</span>, благодаря торговле по моей стратегии</li>
                <li>Уже сейчас <span style="color: #3063D3">начнешь менять свою жизнь</span></li>
                <li>Узнаешь свои <span style="color: #3063D3"> слабые стороны в торговле</span></li>
            </ul>
        </div>
        <div class="why-content-right">
            <ul>
                <li>Посмотришь на мой <span style="color: #3063D3">подход к обучению</span> </li>
                <li>Получишь четкое понимание <span style="color: #3063D3">что необходимо исправить в торговле</span> </li>
                <li>Получишь <span style="color: #3063D3">ценные инструменты</span> для торговли</li>
                <li>Получишь <span style="color: #3063D3">возможность попасть</span> на личное обучение</li>
                <li><span style="color: #3063D3">Подберу тариф</span> на основную программу <span style="color: #3063D3">конкретно под тебя </span> и твою ситуацию</li>
            </ul>
        </div>
    </div>
    <div class="btn">
        <Btn3 />
    </div>
</section>

<style>

    section { 
        max-width: 1100px;
        margin: 0 auto;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h2 {
        margin: 0;
        margin-bottom: 2rem;
        text-transform: uppercase;
        color: #3063D3;
        font-family: 'SFPRO-heading', sans-serif;
        
    }

    .why-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 2rem;
        margin-bottom: 4rem;
    }

    li {
        margin-top: 2rem;
        font-size: 18px;
        margin-left: 48px;
    }

    li::before {
        content: "✓";
        font-size: 32px;
        position: absolute;
        margin-left: -48px;
        color:#3063D3;
        font-weight: 900;
        margin-top: -12px;

    }

    @media (max-width: 1279px) {

        .why-content { 
            flex-direction: column;
            gap: 0;
            padding: 0 32px;
        }

        h2 {
            padding: 0;
            margin: 0;
            padding-top: 2rem;
            margin-bottom: 1rem;
            font-size: 30px;
        }

        li {
            font-size: 17px;
        }

        li::before {
            margin-top: -4px;
        }

    }




</style>