---
---

<section class="author">
    
    <img src="/test/author.jpg" alt="">

    <div>
        <h2>Егор Ганжела</h2>
        <p class="badge">Автор методички</p>

        <ul>
            <li><img src="./public/dot-icon.svg" class="dot-icon" alt=""> Входит в ТОП аналитиков по версии TradingView.</li>
            <li><img src="./public/dot-icon.svg" class="dot-icon" alt=""> Создатель авторских индикаторов для автоматизации и упрощения торговли.  </li>
            <li><img src="./public/dot-icon.svg" class="dot-icon" alt=""> Автор канала «EGO Про трейдинг» к анализу которого прислушиваются 10 000 активных трейдеров.</li>
            <li><img src="./public/dot-icon.svg" class="dot-icon" alt=""> 2150 человек уже прошли обучение с нуля и стабильно торгуют.</li>
            <li><img src="./public/dot-icon.svg" class="dot-icon" alt=""> Обучаю только на живых примерах из собственного опыта.</li>
            <li><img src="./public/dot-icon.svg" class="dot-icon" alt=""> Получает стабильный доход на рынке криптовалют с 2017 года.</li>
        </ul>
    </div>

</section>


<style>
    img {
        border-radius: 20px;
        width: 50%;
        height: 100%;
    }

    h2 {
        margin: 0;
        font-size: 40px;
        text-align: left;
    }

    .author {
        display: flex;
        align-items: center;
        padding: 3rem 2rem;
        gap: 3rem;
        margin-top: 8rem;
        border-radius: 20px;
    }

    .author > * {
        flex: 1;
    }

    li {
        margin-top: 1.2rem;
        display: flex;
        gap: .8rem;
        width: 90%;
        font-size: 17px;
    }

    li img {
        margin-top: 4px;
        width: 12px;
    }

    .badge {
        font-size: 18px;
        font-weight: 600;
        padding: .5rem 0;
    }

    .dot-icon {
        width: 18px;
        height: 18px;
    }



    @media (max-width: 1279px) {
    
        .author {
            flex-direction: column;
            padding: 1rem;
        }

        li {
            width: 100%;
        }

        img {
            width: 100%;
        }

        .badge {
            padding: 1rem;
            width: 100%;
        }
        
        h2 {
            font-size: 2rem;
        }



    }
</style>