---
import '../styles/tiny-slider.css'
import '../styles/lity.min.css'
---

<section class="comments">
  <div class="wrapper">
    <h2>Отзывы и результаты</h2>
    <div class="my-slider">
        <div><a href="/test/comment_1.jpg" data-lity> <img src="./test/comment_1_1.jpg" alt=""></a></div>
        <div><a href="/test/comment_1.jpg" data-lity> <img src="./test/comment_1_1.jpg" alt=""></a></div>
        <div><a href="/test/comment_1.jpg" data-lity> <img src="./test/comment_1_1.jpg" alt=""></a></div>
        <div><a href="/test/comment_1.jpg" data-lity> <img src="./test/comment_1_1.jpg" alt=""></a></div>
        <div><a href="/test/comment_1.jpg" data-lity> <img src="./test/comment_1_1.jpg" alt=""></a></div>
    </div>
  </div>
    
</section>


<style>

  .comments {
    padding-bottom: 6rem;
  }

  h2 {
    text-align: left;
  }

  img {
    border-radius: 20px;
  }

     @media (max-width: 1279px) {
      
      .comments {
        padding: 4rem 0;
      }


      h2 {
        margin: 0;
        margin-bottom: 2rem;
        text-align: center;
      }

     }
</style>



<script> 
  var slider = tns({
    container: '.my-slider',
    controls: false,
    items: 1,
    nav: true,
    mouseDrag: true,
    navPosition: 'bottom',
    responsive: {
      640: {
        edgePadding: 20,
        gutter: 20,
        items: 1
      },
      700: {
        gutter: 20 
      },
      900: {
        items: 3,
        gutter:50 
      }
    }
  });
</script>


