---
---

<footer>

    <div class="wrapper">
        <div class="footer-content">
    
            <p>
                ИП Ганжела Егор Андреевич<br>
                ОГРНИП 323310000038828 <br>
                ИНН: 312835147749 
            </p>
            <a href="https://ego-trade.ru/ПУБЛИЧНАЯ ОФЕРТА_docx.pdf">Публичная оферта</a>
            <a href="https://ego-trade.ru/Политика_обработки_и_защиты_персональных_данных,_конфиденциальности.pdf">Политика обработки и защиты персональных данных, конфиденциальности</a>
            <a href="https://ego-trade.ru/Правила_предоставления_платных_услуг_по_обучению_и_возврата_денег.pdf">Правила предоставления платных услуг по обучению и возврата денег</a>
            <a href="https://ego-trade.ru/Дополнительная_образовательная_программа_ИП_Ганжела.pdf">Дополнительная образовательная программа ИП Ганжела</a>
    
    
        </div>
    </div>

</footer>

<style>

    footer {
        background: white;
        z-index: 999999;
        position: relative;
    }

    .footer-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 2rem 0;
        gap: 3.8rem;
    }

    .footer-content * {
        flex: 1;
    }

    a {
        color: #464646;
        font-size: 12px;
    }

    hr {
        border: 1px solid #f5f5f5;
    }

    p {
        color: #757575;
        font-weight: 500;
        font-size: 12px;
    }

    @media (max-width: 1279px) {
        .footer-content {
            flex-direction: column-reverse;
            gap: 1rem;
            text-align: center;
            align-items: center;
        }
    }

</style>
