---
---

<footer>

    <div class="wrapper">
        <hr>
        <div class="footer-content">
    
            <a href="#">Политика конфиденциальности</a>
            <p>2023</p>
    
    
        </div>
    </div>

</footer>

<style>

    footer {
        background: white;
    }

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0;
    }

    a {
        color: #464646;
    }

    hr {
        border: 1px solid #f5f5f5;
    }

    p {
        color: #464646;
        font-weight: 600;
    }

</style>