---
import CtaButton from "./Cta_button.astro";
---

<section>
    <div class="wrapper hero">

        <div class="hero-left">
            <p class="badge">Бесплатная методичка</p>
            <h1><strong>Как с помощью трейдинга выйти на стабильные 20% к&nbsp; депозиту ежемесячно</strong></h1>
            <p>Результат без нервов, совмещая с работой, под руководством опытного трейдера</p>
            <div class="text-with-icon">
                <img src="dot-icon.svg" alt="">
                <p>Простыми словами, на живых примерах</p>
            </div>
            <div class="text-with-icon">
                <img src="dot-icon.svg" alt="">
                <p>От ТОП автора по версии TradingView</p>
            </div>
            <div class="btn-container">
                <CtaButton />
            </div>
        </div>
        <div class="hero-right">
            <img src="7.png" alt="">
        </div>

    </div>
</section> 

<style>

    section {
        background-color: white;
        padding: 4rem 0;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    img {
        width: 100%;
        border-radius: 20px;
    }

    h1 {
        font-size: 48px;
        line-height: 100%;
        font-weight: 700;
    }

    p {
        width: 40ch;
        margin: 2rem 0;
        font-weight: 600;
        color: #6e6e73;
        font-size: 18px;
    }

    .hero {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    .hero > * {
        flex: 1;
        width: 50%;
    }

    .hero-right {
        background-image: linear-gradient(rgba(255, 255, 255, .1) .05em, transparent .05em), linear-gradient(90deg, rgba(255, 255, 255, .1) .05em, transparent .05em);
        background-size: 4em 2em;
        padding: 2rem 0;
        
    }

    .text-with-icon {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0;
        margin-top: .5rem;
    }

    .text-with-icon img {
        width: 14px;
        height: 14px;
    }

    .text-with-icon p {
        margin: 0;
        padding: 0;
        color: #222;
    }

    .badge {
        font-size: 24px;
        font-weight: 600;
        color: #222;
        margin: 10px 0;
    }


    @media (max-width: 1279px) {

        section {
            background-image: none;
            padding-top: 1rem;
        }
        .hero {
            flex-direction: column;
            margin-top: 0;
            align-items: normal;
            gap: 2rem;
            padding: 0 .5rem;
        }

        .hero > * {
            width: auto;
        }

        .hero-right {
            padding: 0;
        }

        h1 {
            font-size: 30px;
            line-height: 110%;
            font-weight: 900;
        }

        p {
            width: auto;
            font-size: 17px;
            margin: 1.5rem 0;
            font-weight: 500;
        }

        .badge {
            font-size: 20px;
            margin-top: 1rem;
        }
        
        .text-with-icon {
            margin-top: .4rem;
        }

        .text-with-icon {
            align-items: flex-start;
            gap: .5rem;
        }

        .text-with-icon img {
            margin-top: 4px;
        }

    }

</style>
