---
import ListItem from "./ListItem.astro";
---

<section class="profit">
    <div class="wrapper">
        <h2>Из методички ты узнаешь:</h2>
    <div class="profit-content">
        <div>
                <ul>
                    <ListItem
                        number="1.png"
                        list_item_header="Как превратить 500$ в 10&nbsp;000$ за&nbsp;пол года"
                        list_item_content="Без рисков и без нервов. Показываю на простых примерах, с&nbsp;разборами."
                    />
                    <ListItem 
                        number="2.png"
                        list_item_header="Секреты активного и пассивного дохода на рынке криптовалюты"
                        list_item_content="Чтобы вы могли просыпаться от уведомлений о зачислении прибыли на пассиве."
                    />
                    <ListItem 
                        number="3.png"
                        list_item_header="Пошаговый план и стратегии торговли для выхода на постоянный доход"
                        list_item_content="Повторяй действия опытного трейдера и&nbsp;получай&nbsp;профит."
                    />
                    <ListItem 
                        number="4.png"
                        list_item_header="Неочевидные правила на рынке и&nbsp;рабочие инструменты анализа"
                        list_item_content="Чтобы вы могли самостоятельно анализировать рынок и понимать его логику, даже если раньше никогда не торговали."
                    />
                <!-- <ListItem 
                        number="/test/5.png"
                        list_item_header="Крепкий фундамент трейдинга для новичков или тех, кто уже активно торгует"
                        list_item_content="Чтобы избежать каши в голове и понять как устроен правильный трейдинг изнутри и не теряли деньги и время в попытках разобраться самостоятельно."
                    /> -->
                </ul>
                
                <div class="card-five">
                    <div class="item-text">
                        <img src="5.png" alt="">
                        <h3>Крепкий фундамент трейдинга для новичков или тех, кто уже активно торгует</h3>
                        <p>Чтобы избежать каши в голове и понять как устроен правильный трейдинг изнутри и не теряли деньги и время в попытках разобраться&nbsp;самостоятельно.</p>
                    </div>
                </div>
        </div>
        </div>
    </div>
       
</section>

<style>

    .profit-content {
        padding-bottom: 8rem;
    }

    .card-five p {
        margin-top: 1rem;
        font-size: 17px;
        color: #6e6e73;
    }

    .card-five {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 20px;
        background: #fff;
        margin-top: 1rem;
        background-image: url('card_test.png');
        background-repeat: no-repeat;
        background-position: bottom 0 right 0; 
    }


    .card-five img {
        width: 60px;
        height: 60px;
        margin-left: -10px;
        margin-bottom: 10px;

    }

    .item-text {
        width: 65%;
        padding: 2.5rem 6rem 4rem 2.5rem;
    }


    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }


    @media (max-width: 1200px) {
        .profit-content {
            flex-direction: column;
            gap: 4rem;
            padding-bottom: 4rem;
        }

        ul {
            gap: 1.5rem;
           grid-template-columns: 1fr; 
        }

        .card-five {
            text-align: center;
            background-size:330px; 
            margin-top: 1.5rem;
        }

        .item-text {
            width: 100%;
            padding: 1.5rem 1rem 14rem 1.5rem;
        }

    }

</style>