---
import ListItem from "./ListItem.astro";
---

<section class="profit">
        <h2>Из методички ты узнаешь:</h2>
    <div class="profit-content">
    <div>
            <ul>
                <ListItem 
                    list_item_header="Как превратить 500$ в 10 000$ за пол года"
                    list_item_content="Без рисков и без нервов. Показываю на простых примерах, с разборами."
                />
                <ListItem 
                    list_item_header="Пошаговый план и стратегии торговли для выхода на постоянный доход"
                    list_item_content="Повторяй действия опытного трейдера и получай профит."
                />
                <ListItem 
                    list_item_header="Крепкий фундамент трейдинга для новичков или тех, кто уже активно торгует"
                    list_item_content="Чтобы избежать каши в голове и понять как устроен правильный трейдинг изнутри и не теряли деньги и время в попытках разобраться самостоятельно."
                />
                <ListItem 
                    list_item_header="Неочевидные правила на рынке и рабочие инструменты анализа"
                    list_item_content="Чтобы вы могли самостоятельно анализировать рынок и понимать его логику, даже если раньше никогда не торговали."
                />
                <ListItem 
                    list_item_header="Секреты активного и пассивного дохода на рынке криптовалюты"
                    list_item_content="Чтобы вы могли просыпаться от уведомлений о зачислении прибыли на пассиве."
                />
            </ul>
    </div>

    <div>

        <div class="chart">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    </div>
</section>

<style>


    .chart {
        background: white;
        border-radius: 20px;
        padding: 2rem;
        width: 98%;
        height: 500px;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }


    @media (max-width: 1279px) {
        .profit-content {
            flex-direction: column;
            gap: 4rem;
        }

        ul {
            gap: 3.5rem;
        }

        .chart {
            padding: .5rem;
            width: 100%;
        }
    }


</style>

<script>
  const ctx = document.getElementById('myChart');
  const pointImage = new Image(30, 30);
  pointImage.src = './public/dot-icon.svg'

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['2016','2017', '2018', '2019', '2020', '2021', '2022'],
      datasets: [{
        label: 'Курс Bitcoin',
        backgroundColor: 'orange',
        borderColor: '#E33D07',
        data: [750, 16000, 3600, 12000, 28000, 60000, 40000],
        borderWidth: 2,
        tension: 0.4
      }]
    },
    options: {
      elements: {
        point: {
            pointStyle: 'circle',
        }
      },
      layout: {
        padding: 0
      },
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: false 
        },
        x: {
            beginAtZero: false 
        }
      }
    }
  });
</script>
