---
---

<section>

    <div class="wrapper author">
        <img src="/author2.jpg" alt="">

        <div>
        <h2 class="text-3xl text-gray-800 mb-8 pb-4 font-bold uppercase lg:text-4xl ">
           <span class="text-blue-600">Об</span> авторе 
        </h2>
    
            <ul>
                <li><img src="/dot-icon3.svg" class="dot-icon" alt="">Профессиональный трейдер, более 7 лет торговли с профитом </li>
                <li><img src="/dot-icon3.svg" class="dot-icon" alt="">Автор Системы эффективного трейдинга </li>
                <li><img src="/dot-icon3.svg" class="dot-icon" alt="">Инвестировал в  свое  образование более 50 000 долларов </li>
                <li><img src="/dot-icon3.svg" class="dot-icon" alt="">Прошел обучение по техническому анализу у ведущего мирового тренера по методологии Стэнли Дракенмиллера - одного из
самых успешных трейдеров на финансовом рынке </li>
                <li><img src="/dot-icon3.svg" class="dot-icon" alt="">Основатель успешной Школы криптотрейдинга </li>
                <li><img src="/dot-icon3.svg" class="dot-icon" alt="">1000+ учеников прошли мои тренинги </li>
                <li><img src="/dot-icon3.svg" class="dot-icon" alt="">5 лет - опыт тренерской работы </li>
                <li><img src="/dot-icon3.svg" class="dot-icon" alt="">Получил звание ТОП-аналитик на платформе TrandingView </li>
                <li><img src="/dot-icon3.svg" class="dot-icon" alt="">Имею публикации в авторитетном изданиях - РБК и др. </li>
                <li><img src="/dot-icon3.svg" class="dot-icon" alt="">Был спикером на крипто-конференциях </li>
            </ul>
        </div>
    </div>

    

</section>


<style>


    section {
        background: #fff;
        padding: 8rem 0;
    }

    img {
        border-radius: 20px;
        width: 50%;
        height: 100%;
    }

    h2 {
        text-align: left;
        margin: 0;
        margin-bottom: 2rem;
            font-family: 'SFPRO-heading', sans-serif;
    }


    .author {
        display: flex;
        align-items: flex-start;
        gap: 4rem;
        border-radius: 20px;
    }

    .author > * {
        flex: 1;
    }

    li {
        margin-top: 1rem;
        display: flex;
        gap: .8rem;
        width: 90%;
        font-size: 17px;
        line-height: 24px;
    }

    li img {
        margin-top: 4px;
    }

    .badge {
        font-size: 24px;
        font-weight: 600;
        padding: .5rem 0;
    }

    .dot-icon {
        width: 14px;
        height: 14px;
    }



    @media (max-width: 1279px) {

        section {
            padding: 0 0 1rem 0;
        }
    
        .author {
            flex-direction: column-reverse;
            padding: 1rem;
            gap: 1rem;
        }

        li {
            width: 100%;
        }

        img {
            width: 100%;
        }

        .badge {
            padding: .5rem 0;
            width: 100%;
            font-size: 21px;
        }
        

        div {
            padding: 1rem 1rem 1.5rem .5rem;
        }


    }
</style>
