---
---


<section>
    <!-- FAQ -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Title -->
  <div class="max-w-4xl mx-auto text-center mb-10 lg:mb-14">
    <h2 class="font-bold text-3xl lg:text-4xl text-gray-800 uppercase">
      Основные <span class="text-blue-600">преимущества</span> моего обучения
    </h2>
    <p class="font-bold text-center text-xl mt-4">Вы получите персональное наставничество от действующего трейдера:</p>
  </div>
  <!-- End Title -->
   
    <!-- Grid -->
    <div class="grid md:grid-cols-2 max-w-4xl justify-center align-center mx-auto gap-6 lg:gap-16">
      <div class="space-y-6 lg:space-y-10">
      <!-- End Col -->

      <div class="space-y-6 lg:space-y-10">
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-4">
              <svg class="shrink-0 size-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <div class="grow">
            <p class="mt-1 text-gray-600 ">
              рост суммарного дохода по сделкам в 2-3 раза по сравнению с нынешним
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-4">
              <svg class="shrink-0 size-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <div class="grow">
            <p class="mt-1 text-gray-600 ">
            стабильный профит с минимальными рисками
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-4">
              <svg class="shrink-0 size-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <div class="grow">
            <p class="mt-1 text-gray-600 ">
            индивидуальные созвоны и персональная обратная связь
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-4">
              <svg class="shrink-0 size-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <div class="grow">
            <p class="mt-1 text-gray-600 ">
            пошаговые инструкции
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-4">
              <svg class="shrink-0 size-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <div class="grow">
            <p class="mt-1 text-gray-600 ">
            успешно работающие стратегии
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
      <div class="space-y-6 lg:space-y-10">
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-4">
              <svg class="shrink-0 size-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <div class="grow">
            <p class="mt-1 text-gray-600 ">
              проверенные на практике инструменты
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-4">
              <svg class="shrink-0 size-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <div class="grow">
            <p class="mt-1 text-gray-600 ">
              лицензия Министерства образования
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-4">
              <svg class="shrink-0 size-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <div class="grow">
            <p class="mt-1 text-gray-600 ">
            лучшие ученики получают от меня средства в доверительное управление
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-4">
              <svg class="shrink-0 size-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <div class="grow">
            <p class="mt-1 text-gray-600 ">
            быстрое умножение денег
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-4">
              <svg class="shrink-0 size-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <div class="grow">
            <p class="mt-1 text-gray-600 ">
            юридический договор-гарантия
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
      </div>
      <!-- End Col -->

</div>
<!-- End FAQ -->
</section>

<style>

    section {
        margin: 4rem 0;
    }

    h2 {
        margin: 0;
            font-family: 'SFPRO-heading', sans-serif;
    }

    @media (max-width: 1279px) {
      section {
        padding: 0rem 0;
      }
    }


</style>