---
---


<section>
    <!-- Icon Blocks -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <h2 class="font-bold text-3xl lg:text-4xl text-gray-800 uppercase"><span class="text-blue-600">Главная цель моего обучения </span>–  помочь вам<br> изменить качество своей жизни</h2>
  <div class="max-w-4xl mx-auto">
    <!-- Grid -->
    <div class="grid md:grid-cols-2 gap-6 lg:gap-16">
      <div class="space-y-6 lg:space-y-10">
        <p class="text-gray-600  font-bold text-xl">Что у вас сейчас:</p>
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-4">
              <svg class="shrink-0 size-6" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 378.303 378.303" xml:space="preserve">
<polygon style="fill:#FF3501;" points="378.303,28.285 350.018,0 189.151,160.867 28.285,0 0,28.285 160.867,189.151 0,350.018 
	28.285,378.302 189.151,217.436 350.018,378.302 378.303,350.018 217.436,189.151 "/>
</svg>
          
          <div class="grow">
            <p class="mt-1 text-gray-600 dark:text-neutral-400">
            Нет роста в доходах, регулярно ищете подработки
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-4">
              <svg class="shrink-0 size-6" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 378.303 378.303" xml:space="preserve">
<polygon style="fill:#FF3501;" points="378.303,28.285 350.018,0 189.151,160.867 28.285,0 0,28.285 160.867,189.151 0,350.018 
	28.285,378.302 189.151,217.436 350.018,378.302 378.303,350.018 217.436,189.151 "/>
</svg>
          <div class="grow">
            <p class="mt-1 text-gray-600 ">
              Нет понимания, куда двигаться
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-4">
              <svg class="shrink-0 size-6" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 378.303 378.303" xml:space="preserve">
<polygon style="fill:#FF3501;" points="378.303,28.285 350.018,0 189.151,160.867 28.285,0 0,28.285 160.867,189.151 0,350.018 
	28.285,378.302 189.151,217.436 350.018,378.302 378.303,350.018 217.436,189.151 "/>
</svg>
          <div class="grow">
            <p class="mt-1 text-gray-600 ">
              Переживаете, что можете потерять свою работу и не устроиться на другую 
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-4">
              <svg class="shrink-0 size-6" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 378.303 378.303" xml:space="preserve">
<polygon style="fill:#FF3501;" points="378.303,28.285 350.018,0 189.151,160.867 28.285,0 0,28.285 160.867,189.151 0,350.018 
	28.285,378.302 189.151,217.436 350.018,378.302 378.303,350.018 217.436,189.151 "/>
</svg>
          <div class="grow">
            <p class="mt-1 text-gray-600 ">
              Постоянно находитесь в нервном напряжении
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-4">
              <svg class="shrink-0 size-6" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 378.303 378.303" xml:space="preserve">
<polygon style="fill:#FF3501;" points="378.303,28.285 350.018,0 189.151,160.867 28.285,0 0,28.285 160.867,189.151 0,350.018 
	28.285,378.302 189.151,217.436 350.018,378.302 378.303,350.018 217.436,189.151 "/>
</svg>
          <div class="grow">
            <p class="mt-1 text-gray-600 ">
              Нет уверенности в завтрашнем дне
            </p>
          </div>
        </div>
        <!-- End Icon Block -->

        <!-- End Icon Block -->
      </div>
      <!-- End Col -->

      <div class="column2 space-y-6 lg:space-y-10">
        <p class="text-gray-600 dark:text-neutral-400 font-bold text-xl">Что будет после обучения:</p>
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-4">
              <svg class="shrink-0 size-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <div class="grow">
            <p class="mt-1 text-gray-600 ">
              У вас высокий доход на трейдинге криптовалют 
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-4">
              <svg class="shrink-0 size-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <div class="grow">
            <p class="mt-1 text-gray-600 ">
              Имеете четкую стратегию умножения своих денег
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-4">
              <svg class="shrink-0 size-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <div class="grow">
            <p class="mt-1 text-gray-600 ">
              Создали стабильный источник дохода, оставаясь на нынешней работе и не ища новую
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-4">
              <svg class="shrink-0 size-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <div class="grow">
            <p class="mt-1 text-gray-600 ">
              Хорошо разбираетесь в стратегиях и инструментах трейдинга - поэтому вы спокойны и чувствуете себя в безопасности
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-4">
              <svg class="shrink-0 size-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
          <div class="grow">
            <p class="mt-1 text-gray-600 ">
              Повысилась уверенность благодаря сильному окружению единомышленников
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
  <div class="video">
    <video src="/mov.mp4" controls width="850"></video>
  </div>
</div>

<!-- End Icon Blocks -->
</section>


<style>
  section {
    padding: 4rem 0;
    background: white;
    
  
  }

  h2 {
    margin-top: 0;
    line-height: 48px;
            font-family: 'SFPRO-heading', sans-serif;
  }

  svg {
    width: 36px;

  }

  .video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
  }

  video {
    border-radius: 1rem;
  }

  @media (max-width: 1270px) {
    .column2 {
      margin-top: 2rem;
    }

  }
</style>