---
---

<section>
    <!-- Icon Blocks -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="max-w-2xl mx-auto">
    <!-- Grid -->
    <div class="grid gap-12">
      <div>
        <h2 class="text-3xl text-gray-800 mb-8 pb-4 font-bold lg:text-4xl uppercase">
            Гарантия
        </h2>
        <p class="mt-3 text-2xl text-gray-800 ">
            Я настолько уверен в качестве своего обучения, что даю на него полную финансовую гарантию!
        </p>
      </div>

      <div class="space-y-6 lg:space-y-10">
        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-8">
          <svg class="shrink-0 mt-2 size-6 text-blue-800 " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 10v12"/><path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z"/></svg>
          <div class="grow">
            <h3 class="text-base sm:text-lg font-semibold text-gray-800 ">
                Если после прохождения 2 первых уроков и выполнения домашнего задания Вам покажется, что этот курс “не Ваш”  и Вы захотите из него уйти - я ПОЛНОСТЬЮ верну  все внесенные Вами деньги.
            </h3>
            <p class="mt-1 text-gray-600 ">
                Без всяких уговоров и вопросов. Потому что очень дорожу своей безупречной репутацией тренера. И всегда выполняю обещания, которые даю.
            </p>
          </div>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-8">
          <svg class="shrink-0 mt-2 size-6 text-blue-800 " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 10v12"/><path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z"/></svg>
          <div class="grow">
            <h3 class="text-base sm:text-lg font-semibold text-gray-800 ">
                Если Вы пройдете весь курс, выполните все задания и рекомендации курса, но у Вас не будет результатов, то я без лишних вопросов верну Вам его ПОЛНУЮ стоимость!
            </h3>
            <p class="mt-1 text-gray-600 ">
              Эта гарантия закрепляется договором-офертой. Т.е. моя гарантия не на словах, как у многих других тренеров. А в виде юридического документа, составленного согласно действующему законодательству. 
            </p>
          </div>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="flex gap-x-5 sm:gap-x-8">
          <svg class="shrink-0 mt-2 size-6 text-blue-800 " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 10v12"/><path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z"/></svg>
          <div class="grow">
            <h3 class="text-base sm:text-lg font-semibold text-gray-800 ">
                Моё обучение одобрено Министерством образования и выдана лицензия.
            </h3>
            <div class="license flex flex-1 gap-4">
            <p class="mt-1 text-gray-600 ">
              У меня есть лицензия на образовательную деятельность, ее можно проверить на сайте министерства образования. <br><br>

Сайт министерства для проверки подлинности лицензии: <a  class="text-blue-500" href="https://obrnadzor.gov.ru/gosudarstvennye-uslugi-i-funkczii/gosudarstvennye-uslugi/liczenzirovanie-obrazovatelnoj-deyatelnosti/svodnyj-reestr-liczenzij/">Ссылка</a><br><br>

Для проверки, скопируй цифры и вставь в поле с написью ОГРН: 323310000038828<br><br>
📃 Лицензию выдают только после тщательных проверок. Это гарант качества.
            </p>
              <img class="w-1/3" src="/garant.png" alt="">
            </div>
          </div>
        </div>
        <!-- End Icon Block -->
      </div>
    </div>
    <!-- End Grid -->
  </div>
</div>
<!-- End Icon Blocks -->
</section>

<style>

    section {
        padding: 4rem 0;
    }

    h2 {
        margin:  0;
        text-align: left;
        
            font-family: 'SFPRO-heading', sans-serif;
    }

    @media (max-width: 1279px) {
      section {
        padding: 0;

      }

      .license  {
        flex-direction: column;
      }

      img {
        width: 100%;
        padding: 2rem 0;
      }


    }

</style>