---
---

<section class="pb-10 flex-col justify-center align-center" >
    <div class="flex justify-center">
    <h2 class="text-2xl font-bold max-w-2xl md:text-4xl md:leading-tight py-10 uppercase">Выберите наиболее подходящий 
вам <span class="text-blue-600">формат оплаты</span></h2>
      </h2>

    </div>
    <!-- Icon Blocks -->
<div class="max-w-[85rem] py-4 sm:px-6 mx-auto">
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 items-center gap-6 md:gap-10">
    <!-- Card -->
    <div class="size-full bg-white shadow-lg rounded-lg p-5 ">
      <div class=" items-center gap-x-4 mb-3">
        <div class="inline-flex mb-4 justify-center items-center size-[62px] rounded-full border-4 border-blue-50 bg-blue-100 ">
            <svg fill="#2563EB" width="36px" height="36px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M12.32 8a3 3 0 0 0-2-.7H5.63A1.59 1.59 0 0 1 4 5.69a2 2 0 0 1 0-.25 1.59 1.59 0 0 1 1.63-1.33h4.62a1.59 1.59 0 0 1 1.57 1.33h1.5a3.08 3.08 0 0 0-3.07-2.83H8.67V.31H7.42v2.3H5.63a3.08 3.08 0 0 0-3.07 2.83 2.09 2.09 0 0 0 0 .25 3.07 3.07 0 0 0 3.07 3.07h4.74A1.59 1.59 0 0 1 12 10.35a1.86 1.86 0 0 1 0 .34 1.59 1.59 0 0 1-1.55 1.24h-4.7a1.59 1.59 0 0 1-1.55-1.24H2.69a3.08 3.08 0 0 0 3.06 2.73h1.67v2.27h1.25v-2.27h1.7a3.08 3.08 0 0 0 3.06-2.73v-.34A3.06 3.06 0 0 0 12.32 8z"/></svg>

        </div>
        <div class="shrink-0">
          <h3 class="block text-lg font-semibold text-gray-800 ">Оплатить полную<br> стоимость</h3>
        </div>
      </div>
      <p class="text-gray-600 ">Получите скидку 50$ при оплате полной стоимости сразу.</p>
    </div>
    <!-- End Card -->

    <!-- Card -->
    <div class="size-full bg-white shadow-lg rounded-lg p-5 ">
      <div class=" items-center gap-x-4 mb-3">
        <div class="inline-flex mb-4 justify-center items-center size-[62px] rounded-full border-4 border-blue-50 bg-blue-100 ">
            <svg fill="#2563EB" width="36px" height="36px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M12.32 8a3 3 0 0 0-2-.7H5.63A1.59 1.59 0 0 1 4 5.69a2 2 0 0 1 0-.25 1.59 1.59 0 0 1 1.63-1.33h4.62a1.59 1.59 0 0 1 1.57 1.33h1.5a3.08 3.08 0 0 0-3.07-2.83H8.67V.31H7.42v2.3H5.63a3.08 3.08 0 0 0-3.07 2.83 2.09 2.09 0 0 0 0 .25 3.07 3.07 0 0 0 3.07 3.07h4.74A1.59 1.59 0 0 1 12 10.35a1.86 1.86 0 0 1 0 .34 1.59 1.59 0 0 1-1.55 1.24h-4.7a1.59 1.59 0 0 1-1.55-1.24H2.69a3.08 3.08 0 0 0 3.06 2.73h1.67v2.27h1.25v-2.27h1.7a3.08 3.08 0 0 0 3.06-2.73v-.34A3.06 3.06 0 0 0 12.32 8z"/></svg>
        </div>
        <div class="">
          <h3 class="text-lg font-semibold text-gray-800 ">Разбить оплату на<br> несколько частей</h3>
        </div>
      </div>
      <p class="text-gray-600 ">Оплачиваете половину - приступаем к обучению и уже процессе можно доплатить остаток.</p>
    </div>
    <!-- End Card -->

    <!-- Card -->
    <div class="size-full bg-white shadow-lg rounded-lg p-5 ">
      <div class=" items-center gap-x-4 mb-3">
        <div class="inline-flex mb-4 justify-center items-center size-[62px] rounded-full border-4 border-blue-50 bg-blue-100">
            <svg fill="#2563EB" width="36px" height="36px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M12.32 8a3 3 0 0 0-2-.7H5.63A1.59 1.59 0 0 1 4 5.69a2 2 0 0 1 0-.25 1.59 1.59 0 0 1 1.63-1.33h4.62a1.59 1.59 0 0 1 1.57 1.33h1.5a3.08 3.08 0 0 0-3.07-2.83H8.67V.31H7.42v2.3H5.63a3.08 3.08 0 0 0-3.07 2.83 2.09 2.09 0 0 0 0 .25 3.07 3.07 0 0 0 3.07 3.07h4.74A1.59 1.59 0 0 1 12 10.35a1.86 1.86 0 0 1 0 .34 1.59 1.59 0 0 1-1.55 1.24h-4.7a1.59 1.59 0 0 1-1.55-1.24H2.69a3.08 3.08 0 0 0 3.06 2.73h1.67v2.27h1.25v-2.27h1.7a3.08 3.08 0 0 0 3.06-2.73v-.34A3.06 3.06 0 0 0 12.32 8z"/></svg>
        </div>
        <div class="">
          <h3 class="text-lg font-semibold text-gray-800 ">Оформить банковскую рассрочку<br> без переплат</h3>
        </div>
      </div>
      <p class="text-gray-600 ">Проценты по рассрочке я заплачу за вас. Вы сможете обучаться, выплачивая рассрочку с профитов от торговли.</p>
    </div>
    <!-- End Card -->

  </div>
</div>
      <blockquote class="text-center flex justify-center py-6">
        <p class=" sometext text-3xl w-4/5 font-medium text-center uppercase mt-8 text-blue-600 md:text-3xl md:leading-normal xl:text-3xl xl:leading-normal">
          Это последний набор за такую цену, далее цена будет повышена. Знания которые я даю стоят намного дороже, ведь вы получаете:<br><br>

- семилетний опыт практикующего трейдера<br>
- актуальные стратегии и связки, которые приносят профит прямо сейчас<br>
- обратную связь / консультации / рекоментации<br><br>

Вы приобритаете не просто обучение. Вы приобритаете инструмент и навык, который позволит вам заработать х100 к вашему капиталу в ближайший год. Эта инвестиция окупится быстрее, чем Биткоин. <br><br>

Это подтверждают мои ученики и их результаты:
        </p>
      </blockquote>
        <div class="mt-8 gap-3 flex justify-center">
          <a class="py-3 px-4 inline-flex items-center text-2xl gap-x-2  font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" href="https://t.me/egor_teach">
            Хочу на личное обучение
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
          </a>
        </div>
<!-- End Icon Blocks -->
</section>


<style>

    h2 {
        font-family: 'SFPRO-HEADING', sans-serif;
        margin: 0;
        padding-top: 0;
    }

    section {
        padding: 2rem 1rem;
    }
    a {
        border-radius: 500px;
        margin-bottom: 2rem;
    }


</style>