---
---

<section>

<!-- Features -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="md:grid md:grid-cols-2 md:items-start md:gap-12 xl:gap-36 sm:gap-8">

    <!-- End Col -->

    <div class="mt-5 sm:mt-10 lg:mt-0">
      <div class="sm:space-y-2">
        <!-- Title -->
          <h2 class="font-bold text-3xl lg:text-4xl text-gray-800 dark:text-neutral-200">
          Скажите откровенно.
          </h2>
          <h3 class="text-gray-800 pt-2 pb-8">Вам такое знакомо?</h3>
        <!-- End Title -->

        <!-- List -->
        <ul class="space-y-2 sm:space-y-4 ">
          <li class="flex gap-x-3">
            <span class="mt-0.5 size-5 width-full flex justify-center items-center rounded-full text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
              <svg class="shrink-0 size-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-500 dark:text-neutral-500">
                Смотрите на график и не понимаете логики движения цены
              </span>
            </div>
          </li>

          <li class="flex gap-x-3">
            <span class="mt-0.5 size-5 flex width-full justify-center items-center rounded-full  text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
              <svg class="shrink-0 size-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-500 dark:text-neutral-500">
                Не умеете правильно выходить из позиции. Например, получилось хорошо купить, позиция в профите, но непонятно, где продавать! По итогу цена разворачивается — и вы уже в убытке.
              </span>
            </div>
          </li>

          <li class="flex gap-x-3">
            <span class="mt-0.5 size-5 flex justify-center items-center rounded-full  text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
              <svg class="shrink-0 size-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-500 dark:text-neutral-500">
                Не знаете действительно эффективных инструментов анализа, поэтому приходится верить всяким телеграм-каналам/випкам/индикаторам и прочим, теряя деньги
              </span>
            </div>
          </li>
          <li class="flex gap-x-3">
            <span class="mt-0.5 size-5 flex justify-center items-center rounded-full  text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
              <svg class="shrink-0 size-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-500 dark:text-neutral-500">
               Часто вам непонятно, в какую сторону открывать позицию прямо сейчас: лонг, шорт или вообще лучше переждать 
              </span>
            </div>
          </li>
          <li class="flex gap-x-3">
            <span class="mt-0.5 size-5 flex justify-center items-center rounded-full  text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
              <svg class="shrink-0 size-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-500 dark:text-neutral-500">
              Не можете определять ТУ САМУЮ лучшую точку входа – чтобы был минимальный риск и максимальный профит
              </span>
            </div>
          </li>
          <li class="flex gap-x-3">
            <span class="mt-0.5 size-5 flex justify-center items-center rounded-full  text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
              <svg class="shrink-0 size-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-500 dark:text-neutral-500">
                Не умеете рассчитывать безопасную сумму для входа в сделку
              </span>
            </div>
          </li>
          <li class="flex gap-x-3">
            <span class="mt-0.5 size-5 flex justify-center items-center rounded-full text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
              <svg class="shrink-0 size-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-500 dark:text-neutral-500">
                Не знаете, что делать, если цена немного отклонилась от плана: покупать, продавать, добирать позиции.
              </span>
            </div>
          </li>
        </ul>
        <!-- End List -->
      </div>
    </div>
    <!-- End Col -->
    <div class="sm:pt-8">
      <img class="rounded-xl" src="/hnc.gif" alt="features image">
      <p class="mt-5">При этом Вы видите, что хорошие трейдеры СУПЕРуспешны. Они имеют все, о чем только можно мечтать! <br><br>

У них интересная жизнь, высокие доходы, красивые спутники/спутницы, большие суммы на банковских счетах...<br><br>

И все это – благодаря умению торговать на крипторынке!</p>
<p class="some-text text-4xl"> Но это умение – не талант от Бога, трейдингу можно научиться.

 Хотите себе такое – приходите ко мне на индивидуальное обучение!</p>
    </div>
  </div>
  <!-- End Grid -->
</div>
<!-- End Features -->
</section>

<style>
    section {
        padding: 1rem 0;
        background-color: white;
    }

    h2, p {
      text-align: left;
    }

    p {
      font-size: 16px;
    }

    span {
      font-size: 16px;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0;
    }

    h2 {
      margin-top: 0;
    }

    h3 {
      margin: 0;
    }

    .some-text {
      font-size: 1.3rem;
      line-height: 150%;
      margin-top: 2rem;
      font-weight: 600;
    }

    img {
      width: 100%;
    }

    @media (max-width: 1279px) {

      img {
        margin-top: 2rem;
      }

    }

</style>