---
---


<section>
    <!-- FAQ -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Title -->
  <div class="max-w-5xl mx-auto mb-10 lg:mb-14">
    <h2 class="font-bold text-3xl lg:text-4xl text-gray-800  uppercase"><span class="text-blue-600">Oтветы</span> на основные вопросы</h2>
  </div>
  <!-- End Title -->

  <div class="max-w-5xl mx-auto divide-y divide-gray-200 dark:divide-neutral-700">
    <div class="py-8 first:pt-0 last:pb-0">
      <div class="flex gap-x-5">
        <svg class="shrink-0 mt-1 size-6 text-blue-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>

        <div class="grow">
          <h3 class="md:text-lg font-semibold text-gray-800 ">
            Я нашел в интернете несколько стратегий трединга. И начал их применять на практике. Зачем мне этот курс?
          </h3>
          <p class="mt-1 text-gray-500 ">
            В интернете много бизнес планов, а сколько вы знаете миллионеров?<br>
Важен не процесс, а его результат!<br><br>

Информация и стратегии из открытых источников могут быть неактуальны и попросту устареть. В результате вы можете поглощать множество недостоверных данных, которые лишь запутают вас. Более того, в открытых источниках зачастую публикуется поверхностная информация и не раскрыты все нюансы, которые так важны для успешной торговли.<br><br>

Вы готовы рисковать своим временем, просто чтоб проверить актуальность информации? <br>
Вы готовы рисковать своими средствами, перебирая различные стратегии? <br>
Вы готовы рисковать своими нервами, пытаясь самостоятельно найти ответ на свой вопрос? <br><br>

В процессе торговли будут возникать множество вопросов и очень важно, чтобы вы получили ответ конкретно на СВОЙ вопрос, иначе вы будете наступать на одни и те же грабли, совершая одни и те же ошибки и не понимать что конкретно необходимо исправить. Самое главное - это личное общение учителя и ученика, чтобы теория смогла правильно встроиться в практику.

          </p>
        </div>
      </div>
    </div>

    <div class="py-8 first:pt-0 last:pb-0">
      <div class="flex gap-x-5">
        <svg class="shrink-0 mt-1 size-6 text-blue-500 " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>

        <div class="grow">
          <h3 class="md:text-lg font-semibold text-gray-800 ">
            Я уже давно интересуюсь темой трейдинга. Но сейчас у меня на работе высокий стабильный доход – и торговать  криптой пока не планирую. Нужно ли мне тогда это обучение?
          </h3>
          <p class="mt-1 text-gray-500 ">
            Вы работаете уже не первый год  - а значит, научились рассчитывать  на  несколько ходов вперёд. Согласитесь, что ситуация на рынке труда и инфляция  непредсказуема - и поэтому лучше иметь в своем арсенале побольше козырей. Получите их на моем обучении!
          </p>
        </div>
      </div>
    </div>

    <div class="py-8 first:pt-0 last:pb-0">
      <div class="flex gap-x-5">
        <svg class="shrink-0 mt-1 size-6 text-blue-500 " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>

        <div class="grow">
          <h3 class="md:text-md sm:text-sm lg:text-lg font-semibold text-gray-800 ">
            Можно ли совместить с основной работой или бизнесом? 
          </h3>
          <p class="mt-1 text-gray-500 ">
            Сколько времени необходимо?<br><br>

Многие из моих учеников работают на основной работе. Я это понимаю и благодаря тому, что  обучение индивидуальное - это не проблема. Построимся под твой график и ритм.<br><br> 

Да и вообще, чтобы обучение было результативным нельзя себя перегружать, изменения должны быть постепенными чтобы избежать отката. Ты можешь просто в течении дня, когда появилась свободная минутка, изучать определенную тему и смотреть видео-урок  по немногую А после работы, например вечером, закрепить все это за компьютером и графиком.   Таким образом, изучая материал чуть по чуть, ты успеваешь его переварить и понять.  Этого достаточно. <br><br>

На свой выходной ты можешь еще раз изучить материал и задать мне вопросы, получив консультацию.
          </p>
        </div>
      </div>
    </div>
    <div class="py-8 first:pt-0 last:pb-0">
      <div class="flex gap-x-5">
        <svg class="shrink-0 mt-1 size-6 text-blue-500 " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>

        <div class="grow">
          <h3 class="md:text-md sm:text-sm lg:text-lg font-semibold text-gray-800 ">
            Какой нужен стартовый депозит? 
          </h3>
          <p class="mt-1 text-gray-500 ">
              Я обучаю трейдингу довольно давно и за мою практику всего несколько человек приходили с  большими депозитами. Большинство стартует с 200$, кто то с 1000$ и этого вполне достаточно. <br><br>

Размер депозита не важен, ведь наша первая задача получить знания/инструменты/набить руку, научится сохранять деньги и только потом уже их приумножать.<br><br>
 
Скажу больше, для старта - вам вообще не нужен депозит. Вы будете практиковаться и отрабатывать домашние задания на демо-счету. Вы поймете как работают стратегии и уже потом будете применять их на реальном счету и зарабатывать. <br><br>

Лучше иметь небольшой депозит, но знания и стратегии в голове. Ведь благодаря знаниям - депозит можно увеличить: даже 100$ можно превратить в 100 000$ при грамотном подходе и знаниях. Какой смысл иметь изначальный депозит 100 000$, если без знаний его можно легко спустить в ноль.<br><br>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- End FAQ -->
</section>


<style>
    section {
      padding-bottom: 4rem;
    }

    h2 {
        margin: 0;
        text-align: left;
            font-family: 'SFPRO-heading', sans-serif;
    }

    @media (max-width: 1279px) {
      h3 {
        font-size: 18px;
      }
    }

</style>