---
---


<section>
    <!-- FAQ -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Title -->
  <div class="max-w-5xl mx-auto mb-10 lg:mb-14">
    <h2 class="font-bold text-3xl lg:text-4xl text-gray-800 dark:text-neutral-200">Ответы на основные вопросы</h2>
  </div>
  <!-- End Title -->

  <div class="max-w-5xl mx-auto divide-y divide-gray-200 dark:divide-neutral-700">
    <div class="py-8 first:pt-0 last:pb-0">
      <div class="flex gap-x-5">
        <svg class="shrink-0 mt-1 size-6 text-blue-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>

        <div class="grow">
          <h3 class="md:text-lg font-semibold text-gray-800 dark:text-neutral-200">
          Я нашел в интернете несколько стратегий трединга. И начал их применять на практике. Зачем мне этот курс?
          </h3>
          <p class="mt-1 text-gray-500 dark:text-neutral-500">
            Важен не процесс, а его результат!<br><br>

Насколько успешно  у Вас получается достигать поставленных целей? А главное: хотели бы Вы повысить свою прибыль?<br><br>

Благодаря моему курсу Ваши результаты возрастут В РАЗЫ!
          </p>
        </div>
      </div>
    </div>

    <div class="py-8 first:pt-0 last:pb-0">
      <div class="flex gap-x-5">
        <svg class="shrink-0 mt-1 size-6 text-blue-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>

        <div class="grow">
          <h3 class="md:text-lg font-semibold text-gray-800 dark:text-neutral-200">
            Сейчас кто только не учит трейдингу на криптовалютах...
          </h3>
          <p class="mt-1 text-gray-500 dark:text-neutral-500">
            Не ищите ответы у неспециалистов!

Ведь, если заболел зуб - вы обратитесь за помощью к стоматологу.

А если нужно составить важный договор - то пригласите опытного юриста.

Так и для обучения эффективным стратегиям трейдинга стоит пойти к реальным экспертам в этой сфере!
          </p>
        </div>
      </div>
    </div>

    <div class="py-8 first:pt-0 last:pb-0">
      <div class="flex gap-x-5">
        <svg class="shrink-0 mt-1 size-6 text-blue-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>

        <div class="grow">
          <h3 class="md:text-md sm:text-sm lg:text-lg font-semibold text-gray-800 dark:text-neutral-200">
            Я уже давно интересуюсь темой трейдинга. Но сейчас у меня на работе высокий стабильный доход – и торговать  криптой пока не планирую. Нужен ли мне тогда этот курс?
          </h3>
          <p class="mt-1 text-gray-500 dark:text-neutral-500">
            Вы работаете уже не первый год  - а значит, научились рассчитывать  на  несколько ходов вперёд. Согласитесь, что  ситуация на рынке труда  непредсказуема - и поэтому лучше иметь в своем арсенале побольше козырей. Получите их на моем курсе!
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- End FAQ -->
</section>


<style>
    section {
      padding-bottom: 4rem;
    }

    h2 {
        margin: 0;
        text-align: left;
    }

    @media (max-width: 1279px) {
      h3 {
        font-size: 18px;
      }
    }
</style>