---
---


<section>
    <!-- Features -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div >
    <img class="w-full h-full object-cover rounded-xl" src="/peoples.png" alt="Features Image">
  </div>

  <!-- Grid -->
  <div class="mt-5 lg:mt-16 grid lg:grid-cols-3 gap-8 lg:gap-12">
    <div class="lg:col-span-1">
      <h2 class="font-bold text-2xl md:text-3xl text-gray-800 ">
        Почему 1000+ учеников рекомендуют мое обучение?
      </h2>
    </div>
    <!-- End Col -->

    <div class="lg:col-span-2">
      <div class="grid sm:grid-cols-1 gap-8 md:gap-12">
        <!-- Icon Block -->
        <div class="flex gap-x-5">
          <svg class="shrink-0 mt-1 size-6 text-blue-600 " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 10v12"/><path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z"/></svg>
          <div class="grow">
            <h3 class="text-lg font-semibold text-gray-800 ">
                Даже с полного нуля
            </h3>
            <p class="mt-1 text-gray-600 ">
            У меня учились самые разные люди  — как опытные трейдеры с крупным депозитом, так и те, у которых не было никаких познаний в трейдинге и большого депозита. Все они остались довольны своим результатом!<br><br>

Секрет в том, что я довожу до результата лично!<br><br>

Каждый ученик однозначно получает сильную прокачку. Потому что программа индивидуального обучения персонально подстраивается под конкретного ученика. Если ему что-то не понятно  — программа меняется сразу же!<br><br>

Цель – чтобы вы стабильно увеличивали свой капитал!

            </p>
          </div>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="flex gap-x-5">
          <svg class="shrink-0 mt-1 size-6 text-blue-600 " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 10v12"/><path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z"/></svg>
          <div class="grow">
            <h3 class="text-lg font-semibold text-gray-800 ">
                Индивидуальные практические задания 
            </h3>
            <p class="mt-1 text-gray-600 ">
                Сосредоточимся на оттачивании нужных вам тем для максимальных результатов.

После каждого урока есть домашнее задание для закрепления навыков и пройденного материала. Вы делаете, я проверяю и вношу коррективы
            </p>
          </div>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="flex gap-x-5">
          <svg class="shrink-0 mt-1 size-6 text-blue-600 " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 10v12"/><path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z"/></svg>
          <div class="grow">
            <h3 class="text-lg font-semibold text-gray-800 ">
                Поддержка и обратная связь
            </h3>
            <p class="mt-1 text-gray-600 ">
                Вы всегда сможете проконсультироваться со мной лично. Любые вопросы, сетапы, стратегии и ситуации на рынке – подскажу лучшие решения! И детально поясню, почему в этом конкретном случае нужно делать так, а не иначе.
            </p>
          </div>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="flex gap-x-5">
          <svg class="shrink-0 mt-1 size-6 text-blue-600 " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 10v12"/><path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z"/></svg>
          <div class="grow">
            <h3 class="text-lg font-semibold text-gray-800 ">
                Разнообразие стратегий
            </h3>
            <p class="mt-1 text-gray-600 ">
                Зарабатывать можно всегда! Неважно – падает рынок или растет. И даже, если на рынке полный штиль. Вы получите полный арсенал стратегий, среди которых сможете выбрать оптимальные под свой стиль трейдинга.
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Features -->

</section>

<style>

    section {
        background: white;
    }

    h2 {
        margin: 0;
        text-align: left;
    }

</style>