---
import Fav from "../public/favicon.png"
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Как с помощью трейдинга выйти на стабильные 20% к  депозиту ежемесячно. Результат без нервов, совмещая с работой, под руководством опытного трейдера." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href={Fav}>

		<title>EGO Трейд | Бесплатная методичка по трейдингу</title>

	</head>
	<body>
		<slot />
		<script is:inline src="/scripts/jquery.js"></script>
		<script is:inline src="/scripts/tiny-slider.js"></script>
		<script is:inline src="/scripts/lity.min.js"></script>
	</body>
</html>

<style is:global>

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	@font-face {
		font-family: 'SFPRO';
		src: url('/fonts/SF-Pro-Display-Medium.woff') format('woff'),
			 url('/fonts/SF-Pro-Display-Medium.woff2') format('woff2');
		font-weight: medium;
		font-style: medium;
		font-display: swap;
	}

	@font-face {
		font-family: 'SFPRO';
		src: url('/fonts/SF-Pro-Display-Regular.woff') format('woff'),
			 url('/fonts/SF-Pro-Display-Regular.woff2') format('woff2');
		font-weight: regular;
		font-style: regular;
		font-display: swap;
	}

	@font-face {
		font-family: 'SFPRO';
		src: url('/fonts/SF-Pro-Display-Bold.woff') format('woff'),
		 	 url('/fonts/SF-Pro-Display-Bold.woff2') format('woff2');
		font-weight: bold;
		font-style: bold;
		font-display: swap;
	}

	@font-face {
		font-family: 'SFPRO-heading';
		src: url('/fonts/SF-Pro-Display-Heavy.woff') format('woff'),
		 	 url('/fonts/SF-Pro-Display-Heavy.woff2') format('woff2');
		font-weight: heavy;
		font-style: heavy;
		font-display: swap;
	}


	

	html {
		scroll-behavior: smooth;
		overflow-x: hidden;
	}

	body {
		font-family: 'SFPRO', sans-serif;
		background: #f5f5f7;
	}

	.wrapper {
		margin: auto;
		width: 1100px;
		max-width: calc(100% - 2rem);
	}

	h2 {
		font-size: 40px;
		line-height: 100%;
		margin: 8rem 0 4rem 0;
		text-align: center;
		margin-inline: auto;
	}

	 h3 {
		line-height: 120%;
		padding-bottom: .3rem;
		font-size: 24px;
		font-weight: 600;
	 }

	p {
		font-size: 17px;
		line-height: 140%;
		font-weight: 500;
		color: #1D1D1F;
	}

	ul {
		list-style: none;
	}

	.tns-nav {
		text-align: center;
		margin-top: 30px;
		}
		.tns-nav button{
		width: 15px;
		height: 15px;
		border-radius: 20px;
		border: none;
		margin: 0 5px;
		background-color: #dddddd;
		}
		.tns-nav button.tns-nav-active{
		background-color: #FF5520;
		}

		

	@media (max-width: 1279px) {
		h2 {
			font-size: 28px;
			line-height: 1.14286;
			margin: 4rem 0 2rem 0;
			width: 100%;
		}
		
		h3 {
			font-size: 21px;
			line-height: 1.16667;
		}
		
		.tns-slider {
			margin-left: 5px;
		}


	}
</style>
